//! **************************************************************************
// Written by: Map O.61xd on Thu Nov 17 22:18:23 2011
//! **************************************************************************

SCHEMATIC START;
COMP "k1" LOCATE = SITE "V16" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "key" LOCATE = SITE "U9" LEVEL 1;
COMP "addr_ram1<10>" LOCATE = SITE "G13" LEVEL 1;
COMP "addr_ram1<11>" LOCATE = SITE "G14" LEVEL 1;
COMP "addr_ram1<12>" LOCATE = SITE "G15" LEVEL 1;
COMP "addr_ram1<13>" LOCATE = SITE "G16" LEVEL 1;
COMP "addr_ram1<14>" LOCATE = SITE "H14" LEVEL 1;
COMP "addr_ram1<15>" LOCATE = SITE "H15" LEVEL 1;
COMP "addr_ram1<16>" LOCATE = SITE "H16" LEVEL 1;
COMP "addr_ram2<10>" LOCATE = SITE "T18" LEVEL 1;
COMP "addr_ram2<11>" LOCATE = SITE "U18" LEVEL 1;
COMP "addr_ram2<12>" LOCATE = SITE "V15" LEVEL 1;
COMP "addr_ram2<13>" LOCATE = SITE "V13" LEVEL 1;
COMP "ram1_oe" LOCATE = SITE "M16" LEVEL 1;
COMP "addr_ram2<14>" LOCATE = SITE "V12" LEVEL 1;
COMP "addr_ram2<15>" LOCATE = SITE "V9" LEVEL 1;
COMP "addr_ram2<16>" LOCATE = SITE "U16" LEVEL 1;
COMP "ram2_oe" LOCATE = SITE "R9" LEVEL 1;
COMP "ram1_rw" LOCATE = SITE "M18" LEVEL 1;
COMP "ledl<0>" LOCATE = SITE "A12" LEVEL 1;
COMP "ledl<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "ledl<2>" LOCATE = SITE "F12" LEVEL 1;
COMP "ledl<3>" LOCATE = SITE "A13" LEVEL 1;
COMP "ledl<4>" LOCATE = SITE "B13" LEVEL 1;
COMP "ledl<5>" LOCATE = SITE "D13" LEVEL 1;
COMP "ledl<6>" LOCATE = SITE "E13" LEVEL 1;
COMP "ledl<7>" LOCATE = SITE "A14" LEVEL 1;
COMP "ledr<0>" LOCATE = SITE "D10" LEVEL 1;
COMP "ledr<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "ledr<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "ledr<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "ledr<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "ledr<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "ledr<6>" LOCATE = SITE "E11" LEVEL 1;
COMP "ledr<7>" LOCATE = SITE "F11" LEVEL 1;
COMP "ram2_rw" LOCATE = SITE "M9" LEVEL 1;
COMP "rdn" LOCATE = SITE "C14" LEVEL 1;
COMP "data_ram1<0>" LOCATE = SITE "J12" LEVEL 1;
COMP "data_ram1<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "data_ram1<2>" LOCATE = SITE "J14" LEVEL 1;
COMP "data_ram1<3>" LOCATE = SITE "J15" LEVEL 1;
COMP "data_ram2<0>" LOCATE = SITE "U13" LEVEL 1;
COMP "data_ram1<4>" LOCATE = SITE "J16" LEVEL 1;
COMP "data_ram2<1>" LOCATE = SITE "T16" LEVEL 1;
COMP "data_ram1<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "data_ram2<2>" LOCATE = SITE "T15" LEVEL 1;
COMP "data_ram1<6>" LOCATE = SITE "K12" LEVEL 1;
COMP "data_ram2<3>" LOCATE = SITE "T14" LEVEL 1;
COMP "data_ram1<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "data_ram2<4>" LOCATE = SITE "T12" LEVEL 1;
COMP "data_ram1<8>" LOCATE = SITE "K14" LEVEL 1;
COMP "data_ram2<5>" LOCATE = SITE "R13" LEVEL 1;
COMP "data_ram1<9>" LOCATE = SITE "K15" LEVEL 1;
COMP "data_ram2<6>" LOCATE = SITE "R14" LEVEL 1;
COMP "data_ram2<7>" LOCATE = SITE "R12" LEVEL 1;
COMP "data_ram2<8>" LOCATE = SITE "R11" LEVEL 1;
COMP "data_ram2<9>" LOCATE = SITE "R10" LEVEL 1;
COMP "ram1_en" LOCATE = SITE "M15" LEVEL 1;
COMP "ram2_en" LOCATE = SITE "N10" LEVEL 1;
COMP "data_ready" LOCATE = SITE "A16" LEVEL 1;
COMP "reset" LOCATE = SITE "U10" LEVEL 1;
COMP "wrn" LOCATE = SITE "U5" LEVEL 1;
COMP "flash_addr<10>" LOCATE = SITE "M6" LEVEL 1;
COMP "flash_addr<11>" LOCATE = SITE "M5" LEVEL 1;
COMP "flash_addr<20>" LOCATE = SITE "K6" LEVEL 1;
COMP "flash_addr<12>" LOCATE = SITE "M4" LEVEL 1;
COMP "flash_addr<21>" LOCATE = SITE "K5" LEVEL 1;
COMP "flash_addr<13>" LOCATE = SITE "M3" LEVEL 1;
COMP "flash_addr<22>" LOCATE = SITE "K4" LEVEL 1;
COMP "flash_addr<14>" LOCATE = SITE "L6" LEVEL 1;
COMP "flash_addr<15>" LOCATE = SITE "L5" LEVEL 1;
COMP "flash_addr<16>" LOCATE = SITE "L4" LEVEL 1;
COMP "flash_addr<17>" LOCATE = SITE "L3" LEVEL 1;
COMP "flash_addr<18>" LOCATE = SITE "L2" LEVEL 1;
COMP "flash_addr<19>" LOCATE = SITE "L1" LEVEL 1;
COMP "flash_data<10>" LOCATE = SITE "G6" LEVEL 1;
COMP "flash_data<11>" LOCATE = SITE "G5" LEVEL 1;
COMP "flash_data<12>" LOCATE = SITE "G4" LEVEL 1;
COMP "flash_data<13>" LOCATE = SITE "G3" LEVEL 1;
COMP "flash_data<14>" LOCATE = SITE "F2" LEVEL 1;
COMP "flash_data<15>" LOCATE = SITE "F1" LEVEL 1;
COMP "flash_byte" LOCATE = SITE "C1" LEVEL 1;
COMP "flash_vpen" LOCATE = SITE "C2" LEVEL 1;
COMP "addr_ram1<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "addr_ram1<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "addr_ram1<2>" LOCATE = SITE "D16" LEVEL 1;
COMP "addr_ram1<3>" LOCATE = SITE "D17" LEVEL 1;
COMP "addr_ram2<0>" LOCATE = SITE "N14" LEVEL 1;
COMP "addr_ram1<4>" LOCATE = SITE "E15" LEVEL 1;
COMP "addr_ram2<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "addr_ram1<5>" LOCATE = SITE "E16" LEVEL 1;
COMP "addr_ram2<2>" LOCATE = SITE "N18" LEVEL 1;
COMP "addr_ram1<6>" LOCATE = SITE "F14" LEVEL 1;
COMP "addr_ram2<3>" LOCATE = SITE "P16" LEVEL 1;
COMP "addr_ram1<7>" LOCATE = SITE "F15" LEVEL 1;
COMP "addr_ram2<4>" LOCATE = SITE "P17" LEVEL 1;
COMP "addr_ram1<8>" LOCATE = SITE "F17" LEVEL 1;
COMP "addr_ram2<5>" LOCATE = SITE "P18" LEVEL 1;
COMP "addr_ram1<9>" LOCATE = SITE "F18" LEVEL 1;
COMP "addr_ram2<6>" LOCATE = SITE "R15" LEVEL 1;
COMP "addr_ram2<7>" LOCATE = SITE "R16" LEVEL 1;
COMP "addr_ram2<8>" LOCATE = SITE "R18" LEVEL 1;
COMP "addr_ram2<9>" LOCATE = SITE "T17" LEVEL 1;
COMP "data_ram1<10>" LOCATE = SITE "L15" LEVEL 1;
COMP "data_ram1<11>" LOCATE = SITE "L16" LEVEL 1;
COMP "data_ram1<12>" LOCATE = SITE "L17" LEVEL 1;
COMP "data_ram1<13>" LOCATE = SITE "L18" LEVEL 1;
COMP "data_ram1<14>" LOCATE = SITE "M13" LEVEL 1;
COMP "data_ram1<15>" LOCATE = SITE "M14" LEVEL 1;
COMP "data_ram2<10>" LOCATE = SITE "P13" LEVEL 1;
COMP "data_ram2<11>" LOCATE = SITE "P12" LEVEL 1;
COMP "data_ram2<12>" LOCATE = SITE "P11" LEVEL 1;
COMP "data_ram2<13>" LOCATE = SITE "P10" LEVEL 1;
COMP "data_ram2<14>" LOCATE = SITE "N12" LEVEL 1;
COMP "data_ram2<15>" LOCATE = SITE "N11" LEVEL 1;
COMP "flash_ce" LOCATE = SITE "E4" LEVEL 1;
COMP "flash_oe" LOCATE = SITE "E1" LEVEL 1;
COMP "flash_we" LOCATE = SITE "D4" LEVEL 1;
COMP "flash_rp" LOCATE = SITE "D1" LEVEL 1;
COMP "swl<0>" LOCATE = SITE "R1" LEVEL 1;
COMP "swl<1>" LOCATE = SITE "N2" LEVEL 1;
COMP "swl<2>" LOCATE = SITE "N1" LEVEL 1;
COMP "swl<3>" LOCATE = SITE "M1" LEVEL 1;
COMP "swl<4>" LOCATE = SITE "K7" LEVEL 1;
COMP "swl<5>" LOCATE = SITE "K2" LEVEL 1;
COMP "swl<6>" LOCATE = SITE "J7" LEVEL 1;
COMP "swl<7>" LOCATE = SITE "J6" LEVEL 1;
COMP "swr<0>" LOCATE = SITE "T7" LEVEL 1;
COMP "swr<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "swr<2>" LOCATE = SITE "U8" LEVEL 1;
COMP "swr<3>" LOCATE = SITE "V4" LEVEL 1;
COMP "swr<4>" LOCATE = SITE "V3" LEVEL 1;
COMP "swr<5>" LOCATE = SITE "V2" LEVEL 1;
COMP "swr<6>" LOCATE = SITE "U1" LEVEL 1;
COMP "swr<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "flash_addr<1>" LOCATE = SITE "T1" LEVEL 1;
COMP "flash_addr<2>" LOCATE = SITE "R3" LEVEL 1;
COMP "flash_addr<3>" LOCATE = SITE "R2" LEVEL 1;
COMP "flash_addr<4>" LOCATE = SITE "P4" LEVEL 1;
COMP "flash_addr<5>" LOCATE = SITE "P3" LEVEL 1;
COMP "flash_addr<6>" LOCATE = SITE "P2" LEVEL 1;
COMP "flash_addr<7>" LOCATE = SITE "P1" LEVEL 1;
COMP "flash_addr<8>" LOCATE = SITE "N5" LEVEL 1;
COMP "flash_addr<9>" LOCATE = SITE "N4" LEVEL 1;
COMP "flash_data<0>" LOCATE = SITE "J5" LEVEL 1;
COMP "flash_data<1>" LOCATE = SITE "J4" LEVEL 1;
COMP "flash_data<2>" LOCATE = SITE "J2" LEVEL 1;
COMP "flash_data<3>" LOCATE = SITE "J1" LEVEL 1;
COMP "flash_data<4>" LOCATE = SITE "H6" LEVEL 1;
COMP "flash_data<5>" LOCATE = SITE "H5" LEVEL 1;
COMP "flash_data<6>" LOCATE = SITE "H4" LEVEL 1;
COMP "flash_data<7>" LOCATE = SITE "H3" LEVEL 1;
COMP "flash_data<8>" LOCATE = SITE "H2" LEVEL 1;
COMP "flash_data<9>" LOCATE = SITE "H1" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

