//! **************************************************************************
// Written by: Map P.20131013 on Sat Dec 01 18:07:08 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "U9" LEVEL 1;
COMP "flashAddr<1>" LOCATE = SITE "T1" LEVEL 1;
COMP "flashAddr<2>" LOCATE = SITE "R3" LEVEL 1;
COMP "flashAddr<3>" LOCATE = SITE "R2" LEVEL 1;
COMP "flashAddr<4>" LOCATE = SITE "P4" LEVEL 1;
COMP "flashAddr<5>" LOCATE = SITE "P3" LEVEL 1;
COMP "flashAddr<6>" LOCATE = SITE "P2" LEVEL 1;
COMP "flashAddr<7>" LOCATE = SITE "P1" LEVEL 1;
COMP "flashAddr<8>" LOCATE = SITE "N5" LEVEL 1;
COMP "flashAddr<9>" LOCATE = SITE "N4" LEVEL 1;
COMP "flashData<0>" LOCATE = SITE "J5" LEVEL 1;
COMP "flashData<1>" LOCATE = SITE "J4" LEVEL 1;
COMP "flashData<2>" LOCATE = SITE "J2" LEVEL 1;
COMP "flashData<3>" LOCATE = SITE "J1" LEVEL 1;
COMP "flashData<4>" LOCATE = SITE "H6" LEVEL 1;
COMP "flashData<5>" LOCATE = SITE "H5" LEVEL 1;
COMP "flashData<6>" LOCATE = SITE "H4" LEVEL 1;
COMP "flashData<7>" LOCATE = SITE "H3" LEVEL 1;
COMP "flashData<8>" LOCATE = SITE "H2" LEVEL 1;
COMP "flashData<9>" LOCATE = SITE "H1" LEVEL 1;
COMP "led<10>" LOCATE = SITE "F12" LEVEL 1;
COMP "led<11>" LOCATE = SITE "A13" LEVEL 1;
COMP "led<12>" LOCATE = SITE "B13" LEVEL 1;
COMP "led<13>" LOCATE = SITE "D13" LEVEL 1;
COMP "led<14>" LOCATE = SITE "E13" LEVEL 1;
COMP "led<15>" LOCATE = SITE "A14" LEVEL 1;
COMP "flashByte" LOCATE = SITE "C1" LEVEL 1;
COMP "flashVpen" LOCATE = SITE "C2" LEVEL 1;
COMP "flashCE" LOCATE = SITE "E4" LEVEL 1;
COMP "flashOE" LOCATE = SITE "E1" LEVEL 1;
COMP "flashWE" LOCATE = SITE "D4" LEVEL 1;
COMP "flashRP" LOCATE = SITE "D1" LEVEL 1;
COMP "reset" LOCATE = SITE "U10" LEVEL 1;
COMP "flashAddr<10>" LOCATE = SITE "M6" LEVEL 1;
COMP "flashAddr<11>" LOCATE = SITE "M5" LEVEL 1;
COMP "flashAddr<20>" LOCATE = SITE "K6" LEVEL 1;
COMP "flashAddr<12>" LOCATE = SITE "M4" LEVEL 1;
COMP "flashAddr<21>" LOCATE = SITE "K5" LEVEL 1;
COMP "flashAddr<13>" LOCATE = SITE "M3" LEVEL 1;
COMP "flashAddr<22>" LOCATE = SITE "K4" LEVEL 1;
COMP "flashAddr<14>" LOCATE = SITE "L6" LEVEL 1;
COMP "flashAddr<15>" LOCATE = SITE "L5" LEVEL 1;
COMP "flashAddr<16>" LOCATE = SITE "L4" LEVEL 1;
COMP "flashAddr<17>" LOCATE = SITE "L3" LEVEL 1;
COMP "flashAddr<18>" LOCATE = SITE "L2" LEVEL 1;
COMP "flashAddr<19>" LOCATE = SITE "L1" LEVEL 1;
COMP "flashData<10>" LOCATE = SITE "G6" LEVEL 1;
COMP "flashData<11>" LOCATE = SITE "G5" LEVEL 1;
COMP "flashData<12>" LOCATE = SITE "G4" LEVEL 1;
COMP "flashData<13>" LOCATE = SITE "G3" LEVEL 1;
COMP "flashData<14>" LOCATE = SITE "F2" LEVEL 1;
COMP "flashData<15>" LOCATE = SITE "F1" LEVEL 1;
COMP "started" LOCATE = SITE "C7" LEVEL 1;
COMP "Ram1EN" LOCATE = SITE "M15" LEVEL 1;
COMP "Ram2EN" LOCATE = SITE "N10" LEVEL 1;
COMP "Ram1OE" LOCATE = SITE "M16" LEVEL 1;
COMP "Ram2OE" LOCATE = SITE "R9" LEVEL 1;
COMP "Ram1WE" LOCATE = SITE "M18" LEVEL 1;
COMP "Ram2WE" LOCATE = SITE "M9" LEVEL 1;
COMP "Ram1Addr<10>" LOCATE = SITE "G13" LEVEL 1;
COMP "Ram1Addr<11>" LOCATE = SITE "G14" LEVEL 1;
COMP "Ram1Addr<12>" LOCATE = SITE "G15" LEVEL 1;
COMP "Ram1Addr<13>" LOCATE = SITE "G16" LEVEL 1;
COMP "Ram1Addr<14>" LOCATE = SITE "H14" LEVEL 1;
COMP "Ram1Addr<15>" LOCATE = SITE "H15" LEVEL 1;
COMP "clk_scan" LOCATE = SITE "B8" LEVEL 1;
COMP "Ram2Addr<10>" LOCATE = SITE "T18" LEVEL 1;
COMP "Ram2Addr<11>" LOCATE = SITE "U18" LEVEL 1;
COMP "Ram2Addr<12>" LOCATE = SITE "V15" LEVEL 1;
COMP "Ram2Addr<13>" LOCATE = SITE "V13" LEVEL 1;
COMP "Ram2Addr<14>" LOCATE = SITE "V12" LEVEL 1;
COMP "Ram2Addr<15>" LOCATE = SITE "V9" LEVEL 1;
COMP "led<0>" LOCATE = SITE "D10" LEVEL 1;
COMP "led<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "led<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "led<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "led<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "E11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "F11" LEVEL 1;
COMP "led<8>" LOCATE = SITE "A12" LEVEL 1;
COMP "led<9>" LOCATE = SITE "E12" LEVEL 1;
COMP "Ram1Data<10>" LOCATE = SITE "L15" LEVEL 1;
COMP "Ram1Data<11>" LOCATE = SITE "L16" LEVEL 1;
COMP "Ram1Data<12>" LOCATE = SITE "L17" LEVEL 1;
COMP "Ram1Data<13>" LOCATE = SITE "L18" LEVEL 1;
COMP "Ram1Data<14>" LOCATE = SITE "M13" LEVEL 1;
COMP "Ram1Data<15>" LOCATE = SITE "M14" LEVEL 1;
COMP "Ram2Data<10>" LOCATE = SITE "P13" LEVEL 1;
COMP "Ram2Data<11>" LOCATE = SITE "P12" LEVEL 1;
COMP "Ram2Data<12>" LOCATE = SITE "P11" LEVEL 1;
COMP "Ram2Data<13>" LOCATE = SITE "P10" LEVEL 1;
COMP "Ram2Data<14>" LOCATE = SITE "N12" LEVEL 1;
COMP "Ram2Data<15>" LOCATE = SITE "N11" LEVEL 1;
COMP "Ram1Addr<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "Ram1Addr<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "Ram1Addr<2>" LOCATE = SITE "D16" LEVEL 1;
COMP "Ram1Addr<3>" LOCATE = SITE "D17" LEVEL 1;
COMP "Ram1Addr<4>" LOCATE = SITE "E15" LEVEL 1;
COMP "Ram1Addr<5>" LOCATE = SITE "E16" LEVEL 1;
COMP "Ram1Addr<6>" LOCATE = SITE "F14" LEVEL 1;
COMP "Ram1Addr<7>" LOCATE = SITE "F15" LEVEL 1;
COMP "Ram1Addr<8>" LOCATE = SITE "F17" LEVEL 1;
COMP "Ram1Addr<9>" LOCATE = SITE "F18" LEVEL 1;
COMP "Ram2Addr<0>" LOCATE = SITE "N14" LEVEL 1;
COMP "Ram2Addr<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "Ram2Addr<2>" LOCATE = SITE "N18" LEVEL 1;
COMP "Ram2Addr<3>" LOCATE = SITE "P16" LEVEL 1;
COMP "Ram2Addr<4>" LOCATE = SITE "P17" LEVEL 1;
COMP "Ram2Addr<5>" LOCATE = SITE "P18" LEVEL 1;
COMP "Ram2Addr<6>" LOCATE = SITE "R15" LEVEL 1;
COMP "Ram2Addr<7>" LOCATE = SITE "R16" LEVEL 1;
COMP "Ram2Addr<8>" LOCATE = SITE "R18" LEVEL 1;
COMP "Ram2Addr<9>" LOCATE = SITE "T17" LEVEL 1;
COMP "Ram1Data<0>" LOCATE = SITE "J12" LEVEL 1;
COMP "Ram1Data<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "Ram1Data<2>" LOCATE = SITE "J14" LEVEL 1;
COMP "Ram1Data<3>" LOCATE = SITE "J15" LEVEL 1;
COMP "Ram1Data<4>" LOCATE = SITE "J16" LEVEL 1;
COMP "Ram1Data<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "Ram1Data<6>" LOCATE = SITE "K12" LEVEL 1;
COMP "Ram1Data<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "Ram1Data<8>" LOCATE = SITE "K14" LEVEL 1;
COMP "Ram1Data<9>" LOCATE = SITE "K15" LEVEL 1;
COMP "Ram2Data<0>" LOCATE = SITE "U13" LEVEL 1;
COMP "Ram2Data<1>" LOCATE = SITE "T16" LEVEL 1;
COMP "Ram2Data<2>" LOCATE = SITE "T15" LEVEL 1;
COMP "Ram2Data<3>" LOCATE = SITE "T14" LEVEL 1;
COMP "Ram2Data<4>" LOCATE = SITE "T12" LEVEL 1;
COMP "Ram2Data<5>" LOCATE = SITE "R13" LEVEL 1;
COMP "Ram2Data<6>" LOCATE = SITE "R14" LEVEL 1;
COMP "Ram2Data<7>" LOCATE = SITE "R12" LEVEL 1;
COMP "Ram2Data<8>" LOCATE = SITE "R11" LEVEL 1;
COMP "Ram2Data<9>" LOCATE = SITE "R10" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_scan_BUFGP/IBUFG" BEL "clk_scan_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

